/*custom css*/

body {
  font-family: 'Roboto COndensed'!important;
  color: #fff;
  font-size: 18px;
  word-wrap: break-word;
  background-color: #000;
}

@font-face {
    font-family: Geizer;
    src: url('../fonts/geizer.otf');
}
@font-face {
    font-family: Din;
    src: url('../fonts/din-regular.ttf');
}

.content-page a {
  color: #e69a23;
}
.content-page a:hover {
  color: #fff;
}
.content-page>ol {
  font-family: 'Arial';
  
}
.content-page ol {
    font-size:24px;    
}

::selection {
    background-color: #eac583;
    color: #fff;
  }

.font-menu {
  font-family: 'Roboto COndensed'!important; 
  font-size: 20px;
  color: #fff;
}

.font-menu:hover {
  font-family: 'Roboto COndensed'!important; 
  color: #770c0c;
}

.logo-img {
  width: 150px!important;
  height: auto!important;
}
.logo-img2 {
  width: 500px!important;
  height: auto!important;
}
.logo-img3 {
  width: 400px!important;
  height: auto!important;
}
@media screen and (max-width: 1024px) {
  .logo-img2 {
    width: 250px!important;
  }
  .logo-img3 {
    width: 250px!important;
  }
}
@media screen and (max-width: 720px) {
  .logo-img2 {
    width: 200px!important;
  }
  .logo-img3 {
    width: 200px!important;
  }
}

.affix.header-black .header-wrapper {
  background: rgb(0,0,0,1)!important;
}

/*section1*/

#rev_slider_7_1 .uranus.tparrows {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0)
}

#rev_slider_7_1 .uranus.tparrows:before {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s
}

#rev_slider_7_1 .uranus.tparrows:hover:before {
  opacity: 0.75
}

.hesperiden.tp-bullets {}

.hesperiden.tp-bullets:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 10px;
  margin-left: -10px;
  margin-top: -10px;
  box-sizing: content-box;
  border-radius: 8px
}

.hesperiden .tp-bullet {
  width: 12px;
  height: 12px;
  position: absolute;
  background: rgb(225,225,225);
  background: -moz-linear-gradient(top, rgb(225,225,225) 0%, rgb(225, 225, 225) 100%);
  background: -webkit-linear-gradient(top, rgb(225,225,225) 0%, rgb(225, 225, 225) 100%);
  background: -o-linear-gradient(top, rgb(225,225,225) 0%, rgb(225, 225, 225) 100%);
  background: -ms-linear-gradient(top, rgb(225,225,225) 0%, rgb(225, 225, 225) 100%);
  background: linear-gradient(to bottom, rgb(225,225,225) 0%, rgb(225, 225, 225) 100%);
  filter: progid:dximagetransform.microsoft.gradient( startcolorstr="rgb(230, 154, 35)", endcolorstr="rgb(225,225,225)", gradienttype=0);
  border: 1px solid rgb(225,225,225);
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box
}

.hesperiden .tp-bullet:hover,
.hesperiden .tp-bullet.selected {
  background: rgb(230, 154, 35)
}

.hesperiden .tp-bullet-image {}

.hesperiden .tp-bullet-title {}

.title-menu {
  font-family: 'Teko'!important;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  width: 20%;
  margin: 0 auto;
  padding-top: 10px;
}

.menu-line {
  border: 1px solid #fff;
  width: 20%;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
.fs-primary-nav>ul {
    margin-top: 50px;
}
}



.header {
  margin-bottom: -120px;
}
.btn-get {
  font-family: 'Teko';
  font-size: 30px;
  background-color: transparent;
  color: #e69a23;
  border: 2px solid #e69a23;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-get:hover {
  font-family: 'Teko';
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff!important;
}

.socmed-menu {
  color: #770c0c;
  font-size: 30px;
}
.socmed-menu:hover {
  color: #770c0c;
}


.fs-primary-nav a {
  padding: 0px;
}
.list-menu {
  padding-top: 2px;
  padding-bottom: 2px;
}

.list-menu .active {
  color: #770c0c;
}
.block-center-xy {
  margin-top: 20px;
}


  /*invasion css*/

  .header-1 #main-menu .navbar .nav > li.current > a {
    color: #ff0000!important;
    border:none;
  }
  .header {
    background-color: #222;
  }

  #main-menu .navbar .nav > li > a {
    color: #fff;
  }
    #main-menu .navbar .nav > li > a:hover {
    color: #ff0000;
  }
  .affix.header-1 #main-menu .navbar .nav > li.current > a {
    margin-bottom: 13px;
    padding: 20px 3px 5px 3px;
    border:none;
    opacity: 1;
  }
  .affix.header-1 #main-menu .navbar .nav > li > a:hover {
    color: #ff0000;
  }
@media screen and (max-width: 1024px) {
  #main-menu .navbar .nav > li > a .main-menu-title {
    text-align: center;
  }
  #slider-main {
    padding-top: 50px;
  }
/*  .logo-row {
    width: 180px!important;
    background-color: transparent;
  }*/
  .section-title2 {
    font-size: 28px!important;
  }
  .fes2-title-45 {
    font-size: 30px;
    line-height: 38px;
  }
  .fes14-tab-sub-title {
    line-height: 40px;
  }
  .work-proc2-cont h3 {
    font-size: 18px!important;
  }
}

#main-menu .navbar .nav > li {
  margin-left: 20px;
}
@media (max-width: 1024px) {
.hamb-mob-icon {
    display: block;
    float: left;
    padding: 25px 17px 22px 5px;
    font-size: 29px;
    color: #fff!important;
    transition: padding .4s ease 0s;
    transform: translateZ(0);
}
.gallery-menu i {
  display: none;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 180%!important;
}
.header {
  background-color: #222!important;
}

/*.header-mobile {
    display: block!important;
    position: fixed;
    background-color: #000;
  }
.header-desktop {
    display: none;
  }*/
}

/*.header-mobile {
  display: none;
}*/

#about {
  background-color: #000;
  padding-bottom: 50px;
}
.fes2-title-45 {
  font-family: 'Monoton'!important;
  color: #770c0c!important;
}
.line-3-100 {
    margin-top: 13px;
    height: 3px;
    width: 100px;
    background: #770c0c;
}
.img-50 {
  height: auto;
  width: 400px;
}
.logo-row {
    position: relative;
     width: auto; 
    z-index: 1;
}
.logo-txt {
  font-family: 'Russo One';
  color: #fff;
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: bold;
  font-style: italic;
  background:url('../img/bg-test.jpg');
  background-repeat:repeat-x;
  background-position:0 0;
  color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
}

#topics {
  background: url('../img/bg-yellow.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.scroll-down {
  color: #590909;
}
.scroll-down:hover {
  color: #fff;
}
.owl-bg-black .owl-prev, .owl-bg-black .owl-next {
  color: #770c0c!important;
}
.owl-bg-black .owl-page span {
  background-color: #770c0c!important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Monoton';
}
.affix #main-menu .navbar .nav > li:hover > a {
  color: #ff0000!important;
}

#speakers {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 100px; 
}
.button {
  background-color: #820d0d;
  font-weight: bold;
}
.ts-type {
  color: #820d0d;
}
.left-block {
  float: right;
}
.right-block {
  float: left;
}
.main-menu-title {
  font-family: 'Roboto COndensed';
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
}
.fes14-tab-sub-title {
  font-family: 'Roboto COndensed';
}

.title-center {
  color: #820d0d;
}
.tab-nav-text {
  font-family: 'Roboto Condensed';
}

/*section footer*/

#footer {
  background-color: #000;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer1 {
  font-size: 20px;
  color: #ddd;
  letter-spacing: 3px;
  padding: 5px;
}
.footer2 {
  font-size: 14px;
  color: #ddd;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 5px;
}

.footer2 a {
  color: #820d0d;
}
.footer2 a:hover {
  color: #fff;
}
#newsletter {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  background: url('../img/bg-gray.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.section-title2 {
  font-family: 'Gezier';
  color: #820d0d;
}
#clients-link {
  padding-bottom: 50px;
}
input, textarea, select, .login-select, .form-control {
  font-family: 'Nunito'!important;
  color: #fff;
}
::placeholder {
  color: #fff;
}
.nl2-btn {
  color: #820d0d;
}
.nl2-btn:hover {
  color: #820d0d;
}

  .socmed-footer {
    font-size: 25px!important;
    color: #820d0d;
  }
  .socmed-footer:hover {
    color: #fff;
  }
  #sponsor {
    background-color: #000;
    padding-bottom: 80px;
  }
  #rundown {
  background: url('../img/bg-yellow.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  }
  .work-proc2-icon-cont {
    font-family: 'Monoton';
  }
  .work-proc2-a {
    font-family: 'Russo One';
    font-style: italic;
  }
  .fes2-title-30 {
    font-family: 'Monoton';
    color: #323336;
    font-size: 40px;
    font-weight: bold;
  }
  .work-proc2-bg-block {
    background-color: #fff;
  }
#nav-onepage .current a{
  color: #820d0d;
}

#slider-main {
  background: url('../img/bg-invasion1.png');
  background-size: cover;
  background-position: center;
}

#section2 {
  background: url('../img/bg2-1.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 200px;
  padding-top: 100px;
  margin-bottom: -150px;
  position: relative;
}
.text-sect2 {
  font-family: 'Anton';
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  color: #3a0404;
}

@media (min-width: 1024px) {
  .text-sect2 {
    width: 600px;
  }
}
#section3 {
  background: url('../img/bg3.png');
  background-size: cover;
  background-position: center top;
  padding-top: 200px;
  padding-bottom: 24px;
}
.text-odyssey {
  font-family: Geizer;
  text-transform: uppercase;
  color: #eac583;
  font-size: 30px;
  letter-spacing: 2px;
  padding: 20px;
}

#section4 {
  background: url('../img/bg4.png');
  background-size: cover;
  background-position: center top;
  padding-top: 100px;
  padding-bottom: 50px;
}
.text-challenge {
  font-size: 26px;
    line-height: 34px;
    font-family: 'Anton';
    color: #eac583;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-top: 50px;
}
.text-challenge2 {
  font-size: 36px;
  line-height: 44px;
  font-family: 'Anton';
  color: #eac583;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
@media (min-width: 1920px) {
  #section2 {
    padding-bottom: 300px;
  }
  .text-sect2 {
    font-size: 50px;
    line-height: 60px;
    width: 800px;
  }
  .container-band-home {
 width: 1920px!important;
}

}
.text-slider {
  padding: 5px;
  text-shadow: 2px 2px #000;
}
.btn-blk {
  background-color: #000;
  color: #eac583;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.img-prize {
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-prize {
  background-color: #eac583;
  padding-left: 20px;
  font-weight: bold;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #820d0d;
  border-radius: 5px;
  font-family: 'Anton';
  border:2px solid #820d0d;
}
.btn-prize:hover {
  color: #000;
}
#section5 {
  padding-top: 0px;
  padding-bottom: 0px;
  background: url('../img/bg5.png');
  background-size: cover;
  background-position: center top;
}
.div-btn-slide {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  font-size: 80px;
  margin-top: 300px;
}
.btn-slide {
  color: #eac583;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #820d0d;
}
.sub {
  background-color: #222!important;
  margin-top: -6px!important;
  width: 150px!important;
}
.sub a {
  color: #fff!important;
  font-family: 'Roboto COndensed'!important;
}
.sub a:hover {
  color: #ff0000!important;}

.challenge-menu {
  color: #eac583;
}
.challenge-menu:hover {
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #820d0d;
  cursor: pointer;
}
.overlay:hover {
  opacity: 0.6!important;
}
.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.modal-body {
  background-color: #000;
  border:none;
  font-size: 20px;
}
.modal-footer {
  background-color: #000;
  border:none;
}
.modal-header {
  background-color: #000;
  border:none;
  text-align: center;
  font-size: 26px;
}
.modal-title {
  color: #eac583;
  font-family: 'Roboto Condensed'
}
.btn-close-modal {
  background-color: #820d0d;
}
.modal-dialog {
  top: 20%;
}
.icon-act:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
/*page gallery*/
#section-gallery {
  padding-top: 150px;
  background-color: #660B0A;
  background-size: cover;
}

.gallery1-1 {
  border: 1px solid #fff;
  padding: 10px;
}
.gallery1-2 {
  border: 1px solid #fff;
  padding: 10px;
  background-color: #ccc;
}
.gallery1-3 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.gallery-city {
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}
.gallery-date {
  font-size: 40px;
  line-height: 40px;
  color: #e69a23;
}

.gal-txt1 {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #222;
  width: 100%;
  background-color: #fff;
  text-align: left;
  bottom: 0px;
  border: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  min-height: 85px;
}

.gal-txt1:hover {
  color: #820d0d;
}
.gal-txt2:hover {
  color: #e69a23;
}
.gal-1 {
  border: 1px solid #fff;
  padding: 0px;
}

.gal-2 {
  padding: 20px;
  border: 1px solid #fff;
}

.gallery-all-city {
  padding-bottom: 50px;
}

/*custom lighbox*/
.sl-overlay {
  background-color: #000!important;
}
.sl-wrapper .sl-close {
  color: #ff0000!important;
  font-size: 80px!important;
}
.sl-wrapper .sl-navigation button {
  color: #ff0000!important;
  font-size: 80px!important;
}

.photo-thumb {
  padding-bottom: 20px;
}

.pag-gallery {
  list-style: none;
  margin-left: -38px;
}
.pag-gallery li {
  display: inline-block;
  padding: 20px;
}
.prev-icon {
  font-size: 40px!important;
  color: #fff;
}
.prev-icon:hover {
  font-size: 40px!important;
  color: #e69a23;
}
.next-icon {
  font-size: 40px!important;
  color: #fff;
}
.next-icon:hover {
  font-size: 40px!important;
  color: #e69a23;
}

.vid-title {
  text-align: center;
  font-family: 'Geizer';
  font-size: 30px;
  letter-spacing: 3px;
  color: #eac583;
}
.modal-vid {
  background-color: #111;
}
.modal-vid .modal-body {
  height: 300px;
}

.modal-vid-header {
  border: none;
}

.close {
  color: #fff!important;
  opacity: 1;
}

.play-vid i {
  color: #fff;
  font-size: 80px;
}
.play-vid i:hover {
  color: #820d0d;
  font-size: 80px;
}
.play-vid {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
  font-family: 'Geizer';
  font-size: 70px;
  letter-spacing: 2px;
  line-height: 76px;
}
.heading2 {
  font-family: 'Geizer';
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 66px;
}
.gallery-thumb1 {
  margin-bottom: 25px;
}
.gallery-container1 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.heading3 {
  font-family: 'Geizer';
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 56px;
}
.gallery-title {
  padding-bottom: 40px;
}
.gal-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.breadcrumb a {
  color: #eac583;
}
.breadcrumb {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.img-gal-container {
  position: relative;
}
.text-heading {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dialog-vid {
    width: 800px;
    margin: 0 auto;
    top: 10%!important;
}
.modal-vid .modal-body {
    height: 400px;
}
.video-thumb {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .video-thumb {
    width: 100%;
    height: 100%;
  }
  .play-vid i {
    color: #fff;
    font-size: 20px;
}
.dialog-vid {
  width: 100%;
}
.text-challenge2 {
  margin-top: 20px;
}
}

.grid-container {
  max-width: 1280px;
  margin: 0 auto;
}

.cols {
  margin: 0 auto;
  width: 100%;
}

.col {
  width: 25%;
  height: 250px;
  float: left;
  margin: 0;
}

.col img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
}

.col h2 {
  font-weight: 900;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.grid-1 {
  width: 50%;
}

.grid-3 {
  float: right;
  height: 500px;
}

.grid-5 {
  display: table;
}

.grid-5 > * {
  display: table-cell;
}

.grid-5 > .text-container {
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

.grid-5 img {
  object-position: right;
  height: 300px;
}

.grid-7 {
  width: 50%;
}

@supports (display: grid) or (display: -ms-grid) {
  .grid-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    justify-content: center;
  }
  .col {
    width: 100%;
    height: 100%;
    float: none;
  }
  .grid-1 {
    grid-column-end: span 2;
  }
  .grid-3 {
    grid-row-end: span 2;
  }
  .grid-5 {
    grid-column-end: span 2;
  }
  .grid-7 {
    grid-column-end: span 2;
  }
}

/* Media queries for other screen widths */
@media screen and (max-width: 450px) {
  .col {
    grid-row-end: unset;
    grid-column-end: unset;
    height: 250px;
  }
  .grid-area {
    display: flex;
    flex-direction: column;
  }
  .grid-3 {
    order: -1;
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .grid-2 {
    display: none;
  }
}

/************ Hover effect styles *************/

figure {
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

figure figcaption {
  color: #fff;
  backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
  pointer-events: none;
}

figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

figure h2 span {
  font-weight: 800;
}

figure h2,
figure p {
  margin: 0;
}

figure button.rww_grid_button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0.5rem;
  font-weight: bold;
  font-size: smaller;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
}

figure p {
  letter-spacing: 1px;
  font-size: smaller;
}

figure figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(72, 76, 97, 0) 0%,
    rgba(72, 76, 97, 0.8) 75%
  );
  content: "";
  opacity: 0;
  transform: translate3d(0, 50%, 0);
}

figure h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #484c61;
  transition: all 0.35s;
  transform: translate3d(0, -50%, 0);
}

figure figcaption::before,
figure p,
figure .grid-button-wrapper {
  transition: all 0.35s;
}

figure .grid-button-wrapper {
  position: absolute;
  bottom: 35%;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

figure p {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding-bottom: 3rem;
  width: 100%;
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}

figure:hover h2 {
  background: none;
  color: #fff;
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure:hover figcaption::before,
figure:hover p,
figure:hover .grid-button-wrapper {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.col-photo {
  padding: 0px;
}
.row-gallery {
  overflow: hidden;
}
/*page about*/
#section-about {
  background:url('../img/about/bg-about.png');
  background-repeat: repeat-x;
  background-size: cover;
  padding-bottom: 200px;
}

#slider-about {
  padding-top: 76px;
}
.img-li-about {
  width: 400px;
  display: inline-block;
}
.img-li-about {
  display: inline-block;
}
.li-about1:before {
  background: url('../img/1.png');
}
.txt-li-about {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*.ul-about1 {
    list-style-image: url('../img/1.png');
}*/
.li-about1 {
  background: url('../img/about/icon-whatis.png') no-repeat left top; /* <-- change `left` & `top` too for extra control */
  background-size: 150px;
  padding: 3px 0px 3px 200px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
  padding-bottom: 50px;
}
.li-about2 {
  background: url('../img/about/icon-thisis.png') no-repeat left top; /* <-- change `left` & `top` too for extra control */
  background-size: 150px;
  padding: 3px 0px 3px 200px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
  padding-bottom: 50px;
}
.li-about3 {
  background: url('../img/about/icon-spirit.png') no-repeat left top; /* <-- change `left` & `top` too for extra control */
  background-size: 150px;
  padding: 3px 0px 3px 200px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
  padding-bottom: 50px;
}
.ul-about {
  margin-left: 50px;
}
@media screen and (max-width: 1024px) {
  #slider-about {
    padding-top: 60px;
  }
  .ul-about {
  margin-left: -50px;
}
.li-about1 {
  padding: 3px 0px 3px 70px;
  background-size: 50px;
}
.li-about2 {
  padding: 3px 0px 3px 70px;
  background-size: 50px;
}
.li-about3 {
  padding: 3px 0px 3px 70px;
  background-size: 50px;
}
.img-li-about {
  width: 80%;
  display: inline-block;
}

}
/*page stories*/


.affix {
    top: 0;
  }
  .affix-bottom {
    position: absolute;
  }
  .card-sidebar.affix {
    margin-top: 100px;
}
.card-header {
  background-color: #000;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #fff;
}
.card-body {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-sidebar {
    width: 250px;
}
.popular-list {
  color: #222;
}
.heading-sidebar {
  color: #222;
  font-weight: bold;
  font-size: 24px;
}
.filter-sidebar {
  padding-left: 20px;
  padding-top: 20px;
}
.btn-filter {
  background-color: #fff;
  color: #222;
  border-radius: 0px;
  border: 1px solid #222;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-filter:hover {
  background-color: #000;
  color: #eac583;
}
.dropdown-band {
  border:1px solid #222;
  border-radius:0px;
  min-width: 135px;
}
.dropdown-band li a:hover {
  background-color: #222;
  color: #eac583;
}

@media screen and (max-width: 1024px) {
  .affix {
    position: static;
  }
  .affix-bottom {
    position: relative;
  }
}
.ul-year {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  margin-left: -12px;
}
.li-year:before {
  content: "\f105"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-weight: bold;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #000;
}
.li-year a:hover {
  color: #ff0000;
}
.band-stories {
  font-size: 14px;
  font-weight: normal;
}
.date-stories {
  font-size: 12px;
  font-weight: normal;
}

.pagination-smid li {

    font-size: 20px;
    line-height: 20px;
  }
  .pagination-smid li a {
    background-color: #fff;
    color: #222;
  }
  .pagination-smid li a:hover {
    color: #ff0000;
  }
  .pagination-smid li .active {
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
  }
  .pagination-smid li.link-nav > a {
    background-color: #000;
    color: #fff;
  }
  .pagination-smid  {
    border:none!important;
  }
.gal-img2 {
  height: 400px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 10px;
}
.stories-heading {
  font-size: 40px;
  color: #222;
  font-family: 'Geizer';
  letter-spacing: 2px;
  line-height: 50px;
  margin-bottom: 20px;
  max-width: 600px;
}
.source-photo {
  float: right;
  font-size: 16px;
}
.date-stories2 {
  font-size: 16px;
  font-weight: normal;
}
.article-txt {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto Condensed'!important;
  font-weight: normal!important;
  font-size: 16px;
}
.article-txt p {
  font-family: 'Roboto Condensed'!important;
  font-weight: normal!important;
  font-size: 16px!important;
}
.thumb-sidebar {
  border-bottom: 1px solid #222;
  padding: 5px;
}
.gal-img3 {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
  .card-sidebar2.affix {
    margin-top: 150px;
}
.stories-container {
  background:url('../img/stories/bg-detail-stories.png');
  background-size: cover;
  background-position: center;
  color: #000;
}
.article-div {
  padding: 40px;
}
.img-gal-container2 {
  position: relative;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .article-div {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .source-photo {
    float: left;
  }
  .card-sidebar {
    width: 100%;
  }
  .stories-heading {
    font-size: 30px;
    line-height: 40px;
  }
}
/*page journey*/
#section-journey {
  background:url('../img/journey/bg-journey.png');
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 200px;
}
/*timeline invasion*/
.cd-timeline {
  overflow: hidden;
  margin: 2em auto;
}

.cd-timeline__container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  /*padding: 2em 0;*/
}

.cd-timeline__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #ff0000;
}

@media only screen and (min-width: 768px) {
  .cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block:first-child {
  margin-top: 0;
}

.cd-timeline__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .cd-timeline__block {
    margin: 4em 0;
  }
}

.cd-timeline__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cd-timeline__img .number-timeline {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -12px;
}

.cd-timeline__img.cd-timeline__img--picture {
  background: #eac583;
}

.number-timeline {
  font-family: 'Geizer';
  font-size: 70px;
}

@media only screen and (min-width: 768px) {
  .cd-timeline__img {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .cd-timeline__img.cd-timeline__img--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
            animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cd-timeline__content {
  position: relative;
  margin-left: 60px;
  padding: 1em;
}

.cd-timeline__content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__content h2 {
  color: #303e49;
}

.cd-timeline__content p,
.cd-timeline__read-more,
.cd-timeline__date {
  font-size: 1.3rem;
}

.cd-timeline__content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline__read-more,
.cd-timeline__date {
  display: inline-block;
}

.cd-timeline__read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.cd-timeline__read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline__date {
  float: left;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-timeline__content h2 {
    font-size: 2rem;
  }
  .cd-timeline__content p {
    font-size: 1.6rem;
  }
  .cd-timeline__read-more,
  .cd-timeline__date {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .cd-timeline__content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .cd-timeline__content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline__read-more {
    float: left;
  }
  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 0px;
    font-size: 1.6rem;
  }
  .cd-timeline__block .cd-timeline__content {
    float: right;
  }
  .cd-timeline__block .cd-timeline__content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline__block .cd-timeline__read-more {
    float: right;
  }
  .cd-timeline__block .cd-timeline__date {
    left: auto;
    right: 125%;
    text-align: right;
    width: 500px;
  }
  .cd-timeline__content.cd-timeline__content--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
            animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 768px) {
  /* inverse bounce effect on even content blocks */
  .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
            animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.date-timeline {
  color: #fff;
  font-size: 18px;
  font-family: 'Teko';
}
.place-timeline {
  font-family: 'Geizer';
  color: #fff;
  font-size: 60px;
  line-height: 66px;
  padding-bottom: 5px;
}
.nation-timeline {
  color: #fff;
  font-size: 30px;
  font-family: 'Teko';
}
.img-timeline1 {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.img-timeline1-1 {
  height: 200px;
  width: 300px;
  object-fit: cover;
  float: left;
  padding-right: 10px;
}
.img-timeline1-2 {
  height: 400px;
  width: 350px;
  object-fit: cover;
  float: left;
  padding-right: 10px;
}
.img-timeline2 {
  height: 400px;
  width: 50%;
  object-fit: cover;
  float: left;
  padding-right: 7px;
  padding-bottom: 7px;
}
.img-timeline2-1 {
  height: 400px;
  width: 50%;
  object-fit: cover;
  float: right;
  padding-right: 7px;
  padding-bottom: 7px;
}
.img-timeline3 {
  height: 200px;
  width: 50%;
  object-fit: cover;
  float: right;
  padding-right: 7px;
  padding-bottom: 7px;
}
.img-timeline3-1 {
  height: 200px;
  width: 50%;
  object-fit: cover;
  float: left;
  padding-right: 7px;
  padding-bottom: 7px;
}
.img-timeline3-2 {
  height: 400px;
  width: 50%;
  object-fit: cover;
  float: right;
  padding-right: 7px;
  padding-bottom: 7px;
}
.img-timeline4 {
  height: 200px;
  width: 100%;
  object-fit: cover;
  float: right;
  width: 350px;
}
.timeline-vid-txt {
  float: left;
  font-family: 'Geizer';
  font-size: 50px;
  width: 250px;
  position: absolute;
  line-height: 60px;
  color: #ff0000;
}
.timeline-vid-txt1 {
  /*float: right;*/
  font-family: 'Geizer';
  font-size: 40px;
  width: 300px;
  position: absolute;
  line-height: 45px;
  color: #ff0000;
  /*right: 0;*/
  top: 0;
}
.timeline-vid-txt2 {
  float: right;
  font-family: 'Geizer';
  font-size: 50px;
  width: 200px;
  position: absolute;
  line-height: 60px;
  color: #ff0000;
  right: 0;
  top: 0;
}
.timeline-vid-txt3 {
  float: none;
  font-family: 'Geizer';
  font-size: 50px;
  line-height: 60px;
  color: #ff0000;
  text-align: center;
}
.btn-timeline {
  color: #eac583;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Teko';
  letter-spacing: 2px;
}
.btn-timeline:hover {
  color: #fff;
  margin-left: 20px;
  transition: all 0.3s;
}
.div-btn-timeline {
  margin-top: 10px;
  display: inline-block;
}
.txt-hollow {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.txt-stories {
  padding-top: 0px;
}
/*#rev_slider_24_1_wrapper {
  max-height: 700px!important;
}*/

.nav-journey {
  font-family: 'Geizer';
  color: #ff0000!important;
  font-size: 50px;
  opacity: .7;
  background-color: transparent;
}
.nav-journey:hover {
  font-family: 'Geizer';
  color: #fff!important;
  font-size: 50px;
  background-color: transparent;
}
.nav-tab-journey .active .nav-journey {
  background-color: transparent;
  border:none!important;
  opacity: 1;
  font-size: 120px;
}
.nav-tab-journey li .nav-journey {
  background-color: transparent;
  border:none!important;
}
.nav-tab-journey .active .nav-journey:hover {
  background-color: transparent;
  border:none!important;
  cursor: pointer;
}
.nav-tab-journey li .nav-journey:hover {
  background-color: transparent;
  border:none!important;
  cursor: pointer;
}
.nav-tab-journey li .nav-journey:hover {
  background-color: transparent;
  border:none!important;
  cursor: pointer;
}
.nav-tab-journey {
  width: 100%!important;
}
.nav-tab-journey li .nav-2 {
  background-color: transparent;
  border:none!important;
  font-size: 80px;
}
@media only screen and (max-width: 1024px) {
  .cd-timeline__img.cd-timeline__img--picture {
    background: transparent;
}
.place-timeline {
   font-family: 'Geizer';
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 5px;
    letter-spacing: 0px;
}
.nation-timeline {
    color: #fff;
    font-size: 20px;
    font-family: 'Teko';
}
.date-timeline {
    color: #fff;
    font-size: 16px;
    font-family: 'Teko';
}
.btn-timeline {
    color: #eac583;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Teko';
    letter-spacing: 0px;
}
.img-timeline1,.img-timeline1-2 {
    height: auto;
    width: 100%;
}
.img-timeline2 {
    height: 200px;
  }
  .img-timeline3 {
    height: 100px;
  }
  .img-timeline2-1 {
    height: 200px;
  }
  .img-timeline3-1 {
    height: 100px;
  }
  .img-timeline3-2 {
    height: 200px;
  }
  p {
    margin-bottom: 20px;
  }

.timeline-vid-txt {
    float: left;
    font-family: 'Geizer';
    font-size: 30px;
    width: auto;
    position: absolute;
    line-height: 40px;
    color: #ff0000;
}
.timeline-vid-txt1,.timeline-vid-txt2 {
    float: right;
    font-family: 'Geizer';
    font-size: 30px;
    width: auto;
    position: absolute;
    line-height: 40px;
    color: #ff0000;
}
.timeline-vid-txt3 {
    float: none;
    font-family: 'Geizer';
    font-size: 30px;
    line-height: 40px;
    color: #ff0000;
    text-align: left;
}

.nav-tab-journey {
  width: 100%!important;
}
.cd-timeline__img {
  height: 50px;
}
.header-desktop {
  position: fixed;
  width: 100%;
}
}

/*page band profile*/

#section-band-profile {
  background:url('../img/journey/bg-journey.png');
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 100px;
}

/*timeline band profile*/

.cd-timeline2 {
  overflow: hidden;
  margin: 2em auto;
}

.cd-timeline__container2 {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}

.cd-timeline__container2::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 116px;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #ff0000;
}



.cd-timeline__block2 {
  position: relative;
  margin: 2em 0;
}

.cd-timeline__block2:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block2:first-child {
  margin-top: 0;
}

.cd-timeline__block2:last-child {
  margin-bottom: 0;
}


.cd-timeline__img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 200px;
}

.cd-timeline__img2 .number-timeline2 {
  display: block;
    width: 180px;
    position: relative;
    left: -235%;
    top: 80%;
    text-align: center;
    margin-left: 25px;
    margin-top: 600%;
    transform: rotate(270deg);
    background-color: #660B0A;
}

.cd-timeline__img2.cd-timeline__img--picture2 {
  background: transparent;
}

.number-timeline2 {
  font-family: 'Geizer';
  font-size: 80px;
  letter-spacing: 5px;
  color: #eac583;
}



@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cd-timeline__content2 {
  position: relative;
  margin-left: 60px;
  padding: 1em;
}

.cd-timeline__content2:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__content2 h2 {
  color: #303e49;
}

.cd-timeline__content2 p,
.cd-timeline__read-more2,
.cd-timeline__date2 {
  font-size: 1.3rem;
}

.cd-timeline__content2 p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline__read-more2,
.cd-timeline__date2 {
  display: inline-block;
}

.cd-timeline__read-more2 {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.cd-timeline__read-more2:hover {
  background-color: #bac4cb;
}

.cd-timeline__date2 {
  float: left;
  opacity: 1;
}




@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.heading-band-profile {
  position: sticky;
  color: #eac583;
}
.img-band-profile {
  height: 250px;
  width: auto;
  object-fit: cover;
  float: right;
}
.number-timeline3 {
  font-family: 'Geizer';
  font-size: 60px;
  letter-spacing: 1px;
  line-height: 70px;
  color: #eac583;
}
.txt-profile {
  float: right;
  font-family: 'geizer';
  font-size: 40px;
  color: #fff;
  width: 40%;
  line-height: 45px;
  text-align: right;
  padding-right: 20px;
  margin-top: 100px;
}
@media only screen and (max-width: 1024px) {
  .txt-profile {
    width: 100%;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
    text-align: center;
  }
}
.div-img-profile {
  position: absolute;
}
.logo-profile {
  width: 80%;
  margin: 0 auto;
}
.btn-profile a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Teko';
  font-size: 16px;
  letter-spacing: 2px;
}
.btn-profile a:hover {
  color: #eac583;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Teko';
  font-size: 16px;
  letter-spacing: 2px;
}
.div-profile-btn {
  margin-top: 70px;
}


/*page band detail*/

.heading-band-detail {
  font-family: 'Geizer';
  margin-bottom: 20px;
  font-size: 80px;
  letter-spacing: 2px;
  line-height: 86px;
  color: #eac583;
}
.li-profile {
  display: inline-block;
}
.ul-profile {
  list-style: none;
  padding-top: 20px;
  text-align: right;
  margin-left: -100px;
}
.socmed-profile {
  color: #fff;
  padding: 20px;
}
.socmed-profile {
  color: #eac583;
  padding: 20px;
}

.band-text {
  position: relative;
/*  margin-top: 200px;*/
}
@media only screen and (max-width: 1024px) {
  .band-text {
  position: relative;
  margin-top: 0px;
}
.heading-band-detail {
  font-size: 40px;
  line-height: 45px;
}
.ul-profile {
    list-style: none;
    padding-top: 20px;
    text-align: center;
    margin-left: -50px;
}
.text-challenge {
  margin-top: 50px;
}
.ch-block {
  width: 50%;
  float: left;
  padding-bottom: 30px;
}
.cd-timeline__block2 {
  margin-left: 40px;
}
.txt-profile {
  font-size: 30px;
  line-height: 35px;
}

.div-profile-btn {
    margin-top: 170px;
}
.desktop-gallery {
  display: none;
}
.mobile-gallery {
  display: block!important;
}
.num2 {
  width: 50%;
  float: left;
}
.band-home {
  margin-top: 50px!important;
}
#section3 {
  padding-top: 130px!important;
}
.btn-slide-gallery {
    font-size: 40px!important;
    line-height: 46px!important;
}



}
.btn-vid {
  color: #820d0d;
  font-size: 20px;
  font-weight: normal;
  border:2px solid #820d0d;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
.btn-vid:hover {
  color: #fff;
  background-color: #3a0404;
  transition: all 0.3s;
  border:2px solid #fff;
}
.band-home {
  margin-top: 20px;
}
.btn-slide-gallery {
    height: 100%;
    font-size: 80px;
    line-height: 86px;
    text-align: center;
    font-family: 'Anton';
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #eac583;
    background-color: #820d0d;
    border: 2px solid #222;
}
.num-gallery, .num-gallery2 {
  padding-left: 0px;
  padding-right: 0px;
}
.num-ver {
  transform: rotate(270deg);
  display: inline-block;
}
.btn-slide-gallery:hover {
  color: #fff;
}
.img-gallery-slide {
  width: 300px;
  height:418px;
  object-fit: cover;
}
.list-side1 {
  padding: 0px;
}
.item-slide {
  margin: 0px;
}
.slide-2018 {
  max-width: 1420px;
}
#gal2018 {
  display: none;
}
#gal2017 {
  display: block;
}
.inactive-gal {
  opacity: .5;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: transparent!important;
}
.nav-journey:focus {
  background-color: transparent!important;
}
.button-div-home {
  margin-top: -50px;
}
.gallery-title-home {
  font-family: 'geizer';
  color: #eac583;
  font-size: 50px;
  line-height: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mobile-gallery {
  display: none;
}
.img-gal-detail:hover {
  transform: scale(1.1);
}
#section-error {
  background: url('../img/bg-invasion1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 300px;
  padding-bottom: 300px;
}
.error-txt {
  font-size: 80px;
  font-family: 'Geizer';
  line-height: 90px;
  color: #fff;
  letter-spacing: 3px;
}
.share-article:hover {
  color: #222;
}
.share-article:active {
  color: #222!important;
}
.share-article:visited {
  color: #222!important;
}
  .share-article {
    font-size: 25px!important;
    color: #820d0d;
  }
.share-article i:active {
  color: #222!important;
}
.coming-soon-gal {
  font-size: 150px;
  font-family: 'Geizer';
  letter-spacing: 2px;
  color: #eac583;
  margin-top: 200px;
  text-align: center;

}
@media only screen and (max-width: 1024px) {
  .coming-soon-gal {
  font-size: 30px;
  font-family: 'Geizer';
  letter-spacing: 2px;
  color: #eac583;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

}
}
a:focus {
  color: #000!important;
}
.share-txt {
  font-family: 'Geizer';
  font-size: 30px;
  letter-spacing: 1px;
  color: #000;
  margin-bottom: 20px;
  margin-left: 10px;
}
.collab-icon {
  font-family: 'Geizer';
  font-size: 150px;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}
.link-1 a {
  color: #eac583;
  text-decoration: underline;
}
.link-1 a:hover {
  color: #fff;
}
.link-1 a:focus {
  color: #eac583!important;
}
.button-div-vid {
  margin-top: 20px;
}
.dummy-content {
 padding-top: 100px;
 padding-bottom:100px;
 content: '';
}
.link-1 {
  color: #820d0d!important;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .cd-timeline__date {
    float: left;
    opacity: 1;
    background-color: #820d0d;
    padding: 5px;
    margin-top: 20px;
}
}